/* ===== common CSS ===== */
*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

#full_width{
    width: 85%;
    margin: 0 auto;
}

h2,p{
    color: #626262;
}
textarea,h4{
    font-family: 'Ubuntu', sans-serif;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}
.float_right{
    float: right;
}
.mr_20{
    margin-right: 20px;
}
.ml_20{
    margin-left: 20px;
}


/* ===== Header ===== */
.top_header {
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 27px;
}

.th_logo {
    width: 7%;
    float: left;
}

.th_logo img {
    width: 100%;
}

.th_nav {
    width: 85%;
    margin: 0 auto;
    float: right;
}
.th_nav ul{
    float: right;
}
.th_nav ul li{
    list-style: none;
    float: left;
    margin-left: 100px;
}
.th_nav ul li a{
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
.main_blog_banner img {
    width: 100%;
}

/*===== blog content =====*/
.main_blog_content {
    padding-top: 93px;
}
.main_blog_content h4{
    font-size: 14px;
    color: #b4ad9e;
    text-transform: uppercase;
}
.main_blog_content h2{
    font-size: 30px;
    color: #626262;
    font-weight: 400;
    margin-top: 17px;
}
.main_blog_content p{
    font-size: 14px;
    color: #626262;
    line-height: 23px;
    margin-top: 30px;
}
.main_blog_content textarea {
    width: 100%;
    border: 0;
    text-transform: uppercase;
    color: #0000008a;
    resize: none;
    margin-top: 20px;

}
textarea.single_post_content:focus-within {
    outline: none;
}

.main_blog_content textarea::-webkit-input-placeholder {
    color: #00000052 !important;
}

/* ===== short blog with content ===== */

.all_bloges{
    width: 68%;
    margin: 0 auto;
    padding-bottom: 100px;
}
.single_contents {
    margin-top: 105px;
}

.single_contents img{
    width: 100%;
}
.single_contents h4 {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 27px;
}
.single_contents h4 a{
    font-family: 'Ubuntu' !important;
    text-decoration: none;
    color: #b4ad9e;
}
.single_contents h2{
    font-size: 30px;
    font-weight: 400;
    margin-top: 17px;
}
.single_contents h2 a{
    text-decoration: none;
    color: #626262;
}

.single_contents p {
    font-size: 15px;
    line-height: 24px;
    margin-top: 27px;
}

/*===== news letter =====*/
.full_newsletter{
    background-color: #f0f0f0;
    padding: 61px 0;
}
.full_ns_content {
    text-align: center;
    width: 367px;
    margin: 0 auto;
}
.full_ns_content h2{
    font-size: 30px;
    color: #333333;
}
.full_ns_content form {
    border-bottom: 1px solid #5a5a5a;
    margin-top: 60px;
}
.full_ns_content input[type=email]{
    border: 0;
    background-color: transparent;
    width: 333px;
    color: #626262;
    margin-bottom: 5px;
}
.full_ns_content input:focus-within{
    outline: none;
}
.full_ns_content button{
    background: none;
    border: 0;
}
.full_ns_content button img{
    width: 25px;
}




/*===== short blog with content =====*/

.load_more_blog {
    text-align: center;
    margin-top: 100px;
}
.load_more_blog button {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Playfair Display';
    padding: 10px 20px;
    border: 1px solid #7e7e7e;
    color: #626262;
    background: none;
}


/*===== footer =====*/
.main_footer{

background-color: #f0f0f0;

padding: 33px 0 16px 0;
}
.footer_left{
    float: left;
}
.footer_left ul{
    float: left;
}
.footer_left ul li{
    list-style: none;
    float: left;
    font-family: 'Playfair Display';
    font-size: 15px;
    margin-right: 25px;
}
.footer_left ul li a{text-decoration: none;color: #000;}
.footer_left ul li a i{}
.footer_right{}
.footer_right ul{
    float: right;
}
.footer_right ul li{
    float: left;
    margin-left: 22px;
    list-style: none;
}
.footer_right ul li a{}
.footer_right ul li a i{
    color: #626262;
}